{% extends 'base.html' %}

{% block content %}
  <div class="w-full max-w-3xl mx-auto mt-6">
    <h2 class="text-2xl font-bold mb-4">Checkout</h2>
    <div class="w-1/2 float-left">
      <h3 class="text-xl font-bold mb-4">Personal Orders</h3>
      <div class="space-y-4">
        {% for personal_order in personal_orders %}
          <div class="bg-white rounded-lg shadow-md p-6">
            <h4 class="font-bold text-xl mb-4">{{ personal_order.person_draft.title }}</h4>
            <p>Total: ${{ personal_order.total }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
{% endblock %}