{% extends 'base.html' %}

{% block content %}
    <div class="flex justify-between">
        <div class="w-1/2">
            <div class="flex-row justify-between mb-4">
                <h2 class="text-2xl font-bold my-3">Notifications</h2>
                <a href="{% url 'employees:waiter_home' %}" class="my-3 bg-blue-500 text-white px-4 py-2 rounded-md">Update
                    Notifications</a>
            </div>
            <div class="space-y-6 overflow-hidden"
                 style="position: relative; max-height: 80vh; overflow-y: scroll; padding-bottom: 2rem; margin-bottom: 2rem;">
                {% for notification in targeted_notifications %}
                    <div class="bg-yellow-500 rounded-lg shadow-md p-6">
                        <h3 class="font-bold text-xl mb-4">Table {{ notification.table.number }}</h3>
                        <p>Customer is requesting you specifically.</p>
                    </div>
                {% endfor %}
                {% for notification in unassigned_notifications %}
                    <div class="bg-white rounded-lg shadow-md p-6">
                        <h3 class="font-bold text-xl mb-4">Table {{ notification.table.number }}</h3>
                        <p>Customer is requesting a waiter.</p>
                    </div>
                {% endfor %}
                <div style="content: ''; position: absolute; bottom: 0; left: 0; right: 0; height: 2rem;"></div>
            </div>
        </div>
        <div class="w-1/2">
            <div class="flex-row justify-between mb-4">
                <h2 class="text-2xl font-bold my-3">Table Orders</h2>
                <a href="{% url 'orders:create_table_order' %}"
                   class="my-3 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Create Table
                    Order</a>
            </div>
            <div class="space-y-6 overflow-hidden"
                 style="position: relative; max-height: 80vh; overflow-y: scroll; padding-bottom: 2rem; margin-bottom: 2rem;">
                {% for order in not_closed_orders %}
                    <div class="bg-green-200 rounded-lg shadow-md p-6">
                        <h3 class="font-bold text-xl mb-4">Table {{ order.table.number }}</h3>
                        <p>Status: {{ order.status }}</p>
                    </div>
                {% endfor %}
                <div style="content: ''; position: absolute; bottom: 0; left: 0; right: 0; height: 2rem;"></div>
            </div>
        </div>
    </div>
{% endblock %}
