{% extends 'base.html' %}

{% block content %}
    {% with hide_header_links=True table_order=table_order table_number=table %}
        <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
            <div class="grid grid-cols-4 gap-3">
                <div class="col-span-1">
                    <h2 class="text-xl mb-4">Filters</h2>
                    <form action="{% url 'menu:menu' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Apply Filters</button>
                    </form>
                </div>
                <div class="col-span-3">
                    <div class="grid grid-cols-3 gap-3">
                        {% for item in items %}
                            <div>
                                <a href="#">
                                    <div>
                                        <img src="{{item.photos.url }}" class="rounded-t-xl">
                                    </div>
                                    <div class="p-6 bg-white rounded-b-xl">
                                        <h2 class="text-2xl">{{item.name}}</h2>
                                        <p class="text-gray-500">Price: {{item.price}}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}
