{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FIT Restaurant{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
{#    <link rel="stylesheet" href="{% static 'css/main.css' %}">#}
</head>
<body class="min-h-screen flex flex-col bg-gray-100">
    <header class="bg-white shadow-sm">
        <div class="container mx-auto px-4 py-3 flex justify-between items-center">
            <a href="{% url 'billing:index' 3 %}" class="font-bold text-xl">
                Logo
            </a>
            <nav class="hidden md:flex space-x-4">
                {% if not request.hide_header_links  %}
                    <a href="{% url 'menu:menu' %}" class="text-gray-600 hover:text-gray-800">Menu</a>
                    <a href="#" class="text-gray-600
                    hover:text-gray-800
                    {% if table_order.status != 'Accepted' %}opacity-50 cursor-not-allowed{% endif %}">
                        Checkout
                    </a>
                {% endif %}
                {% if not request.hide_call_waiter  %}
                    <form action="{% url 'billing:call_waiter' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="table_number" value="{{ table }}">
                        <button type="submit" class="text-gray-600 hover:text-gray-800">Call Waiter</button>
                    </form>
                {% endif %}
            </nav>
        </div>
    </header>
    <main class="flex-grow mt-6">
        <div class="container mx-auto px-4">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer class="bg-gray-800 text-white mt-16 py-6">
        <div class="container mx-auto px-4">
            <div class="flex justify-between items-center">
                <p class="text-sm">&copy; Your Restaurant. All rights reserved.</p>
                <div class="space-x-4">
                    <a href="{% url 'employees:waiter_login' %}" class="text-white hover:text-gray-300">Waiter Login</a>
                    <a href="#" class="text-white hover:text-gray-300">Facebook</a>
                    <a href="#" class="text-white hover:text-gray-300">Instagram</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>