{% extends 'base.html' %}

{% block content %}
    {% with hide_header_links=True %}

    <div class="flex justify-center items-center h-full">
        <div class="grid grid-cols-2 gap-4 w-full max-w-md">
            <a href="#" class="bg-teal-500
                hover:bg-teal-600 text-white
                font-bold p-6 rounded-lg
                border border-teal-600
                hover:border-teal-700">
                Menu
            </a>
            <a href="#" class="bg-gray-100
                text-gray-500 hover:text-gray-800
                font-bold p-6 rounded-lg border
                border-gray-800">
                Checkout
            </a>
        </div>
    </div>
    {% endwith %}
{% endblock %}